<div class="container">
        <table class="table table-bordered" style="width100%" align="center">
          <tbody>
            <tr>
            <td align="center"> <%= link_to image_tag("foto1.jpg", :size => "200x200", alt: "") %></td>
            <td align="center"> <%= link_to image_tag("casamento/2.jpg", :size => "200x200", alt: "") %></td>
            <td align="center"> <%= link_to image_tag("casamento/3.jpg", :size => "200x200", alt: "") %></td>
          </tr>
          <tr>
            <td align="center"> <%= link_to image_tag("casamento/3.jpg", :size => "200x200", alt: "") %></td>
            <td align="center"> <%= link_to image_tag("foto1.jpg", :size => "200x200", alt: "") %></td>
            <td align="center"> <%= link_to image_tag("casamento/2.jpg", :size => "200x200", alt: "") %></td>
          </tr>
          <tr>
            <td align="center"> <%= link_to image_tag("casamento/2.jpg", :size => "200x200", alt: "") %></td>
            <td align="center"> <%= link_to image_tag("casamento/3.jpg", :size => "200x200", alt: "") %></td>
            <td align="center"> <%= link_to image_tag("foto1.jpg", :size => "200x200", alt: "") %></td>
          </tr>
        </tbody>
      </table>
</div>