<div class="content-wrap">
    <div class="container">
            <div class="row">     
            <div class="col-xs-3"></div>
                <div class="col-xs-6">
    <div class="table-responsive table-bordered"> 
        <table class="table" style="width100%" align="center">
          <thead>
          </thead>
          <tbody>
            <tr>
            <td align="center"> <%= link_to image_tag("foto1.jpg", :size => "200x200", alt: "") %></td>
            <td align="center"> <%= link_to image_tag("casamento/2.jpg", :size => "200x200", alt: "") %></td>
            <td align="center"> <%= link_to image_tag("casamento/3.jpg", :size => "200x200", alt: "") %></td>
          </tr>
          <tr>
            <td align="center"> <%= link_to image_tag("casamento/3.jpg", :size => "200x200", alt: "") %></td>
            <td align="center"> <%= link_to image_tag("foto1.jpg", :size => "200x200", alt: "") %></td>
            <td align="center"> <%= link_to image_tag("casamento/2.jpg", :size => "200x200", alt: "") %></td>
          </tr>
          <tr>
            <td align="center"> <%= link_to image_tag("casamento/2.jpg", :size => "200x200", alt: "") %></td>
            <td align="center"> <%= link_to image_tag("casamento/3.jpg", :size => "200x200", alt: "") %></td>
            <td align="center"> <%= link_to image_tag("foto1.jpg", :size => "200x200", alt: "") %></td>
          </tr>
        </tbody>
      </table>
    </div>
        </div><div class="col-xs-3"></div>
    
</div>
    </div>
    
</div>